appdirs==1.4.0
certifi==2017.1.23
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
protobuf==3.2.0
pyformance==0.3.4
pyparsing==2.1.10
requests==2.13.0
signalfx==1.0.15
six==1.10.0
sseclient-py==1.4
urllib3==1.20
Werkzeug==0.11.15
ws4py==0.3.4
